
<div reversed class=" wa-grid" style="--postlist-index: {{ (postslistCounter or postslist.length) + 1 }}">
{% for post in postslist | reverse %}
	<wa-card class="card-basic">
			{{ post.data.title }}
			{{ post.content | safe }}
	</wa-card>
{% endfor %}
</div>